{
  "applicationprofile": [
    {
      "tenant": "{{ application.tenant }}",
      "state": "{{ application.desired_state }}",
      "name": "{{ application.name }}_applicationprofile",
      "type": "APPLICATION_PROFILE_TYPE_L4",
    }
  ]
}
